<!DOCTYPE html>
<html>
  <head>
    <title>My Node.js App</title>
  </head>
  <body>
    <!-- <h3> <%=data.movie_name%> </h3> -->
    <table>
      <% for(let i=0; i<data.length; i++) { %>
        <tr>
          <% for(let j=0; j<data[i].length; j++) { %>
            <td><%= data[i][j] %></td>
          <% } %>
        </tr>
      <% } %>
    </table>
      
  </body>
</html>
